name: Create Service Release

on:
    workflow_dispatch:
        inputs:
            service:
                description: "Service name (folder under services/)"
                required: true
                type: string
            release_type:
                description: "Release type"
                required: true
                type: choice
                options:
                    - patch
                    - minor
                    - major

jobs:
    release:
        uses: cloudsteak/cm-workflows/.github/workflows/new-service-release.yml@1.3.0
        with:
            service: ${{ inputs.service }}
            release_type: ${{ inputs.release_type }}
            branch: main
