name: Manual Service Production Build

on:
  workflow_dispatch:
    inputs:
      service:
        description: "Service name (folder under services/)"
        required: true
        type: string

jobs:
  prod-build:
    uses: cloudsteak/cm-workflows/.github/workflows/production-service-build-push.yml@1.3.0
    with:
      image_name: ${{ inputs.service }}
      dockerfile_path: services/${{ inputs.service }}/Dockerfile
      build_context: services/${{ inputs.service }}
